.open-close-container{
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 22px;
}

input[type="checkbox"]:checked ~ .open-close-container{
    margin-left: 2%;
       
  }
  .col-md-2{
      padding: 10px;
  }

  .example-container {
  height: 400px;
  width: 550px;
  max-width: 100%;
  overflow: auto;
}
.form-label{
  opacity: 100%;
}

.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }