<body class="text-center-home">
  <!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal1" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal informações cliente -->
<div class="modal fade" style="margin: 1%;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabel"><strong> Informações do Cliente</strong></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="container">
          
          <div class="row">
            <div class="col-md-4">
              <h4 style="color: black;"><strong>              
                Razão Social:
              </strong></h4>
            
            </div>
            <div class="col-md-8">
              <h3 style="color: royalblue;"><strong>            
                {{ razaoSocialInfo }}
              </strong>
              </h3>
            </div>
          
          <div class="row">
            <div class="col-md-4">
              <h4 style="color: black;">
                <strong>
                Nome de Usuario:
                </strong>
              </h4>
            </div>
            <div class="col-md-8">
              <h3 style="color: royalblue;"><strong>{{ usuarioclienteInfo }}</strong></h3>
            </div>

            <div class="row">
              <div class="col-md-4">
                <h4 style="color: black;">
                  <strong>
                  CNPJ:
                  </strong>
                </h4>
              </div>
              <div class="col-md-8">
                <h3 style="color: royalblue;"><strong> {{ cnpjInfo }} </strong></h3>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <h4  style="color: black;">
                    <strong>
                    E-mail:
                    </strong>                    
                  </h4>
                </div>
                <div class="col-md-8">
                  <h3 style="color: royalblue;"><strong> {{ emailClienteInfo }} </strong> </h3>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <h4 style="color: black;">
                      <strong>
                      Celular:
                      </strong>                      
                    </h4>
                  </div>
                  <div class="col-md-8">
                    <h3 style="color: royalblue;"><strong> {{ celularInfo }} </strong></h3>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <h4 style="color: black;">
                        <strong>
                        Telefone:
                        </strong>                      
                      </h4>
                    </div>
                    <div class="col-md-8">
                      <h3  style="color: royalblue;"><strong> {{ telefoneInfo }} </strong></h3>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <h4 style="color: black;">
                          <strong>
                          Cadastrado em:
                          </strong>                          
                        </h4>
                      </div>
                      <div class="col-md-8">
                        <h3 style="color: royalblue;  margin-top: 10px;"><strong> {{ createdInfo }} </strong></h3>
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <h4 style="color: black;">
                            <strong>
                            Última modificação:
                            </strong>                          
                          </h4>
                        </div>
                        <div class="col-md-8">
                          <h3 style="color: royalblue; margin-top: 10px;"><strong> {{ modifiedInfo }} </strong></h3>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <h4 style="color: black;">
                              <strong>
                              Observações: 
                              </strong>
                            </h4>
                          </div>
                          <div style="display: block; background: yellowgreen; border: 1px solid black;">
                            <h3 style="color: royalblue;"><strong> {{ observacoes }} </strong></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>      
        </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Lancar entrada cliente -->
<div class="modal fade" style="margin: 1%;" id="exampleModalLancars" tabindex="-1" aria-labelledby="exampleModalLabelLancarEntrada" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabelLancarEntrada"><strong> LANÇAR VALOR DE ENTRADA</strong></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="lancerForm" (ngSubmit)="salvarLancamentoEntrada(cnpjInfo)">
          <div class="container">
              
              <div class="row">
                  <div class="col-md-4">
                      <label class="form-label" style="opacity: 100%;">                        
                          Informe a data:                                      
                      </label>
                      </div>
                      <div class="col-md-6">
                      <input class="form-control" type="date" formControlName="dataLancamentoEntrada" [(ngModel)]="dataLancamento">                                  
                  </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" style="opacity: 100%;">
                           Valor do lançamento:                                      
                        </label>
                        </div>
                        <div class="col-md-6">
                        <input class="form-control" type="text" formControlName="valorlancamentoentrada" [(ngModel)]="valorLancamento" mask="separator.2" thousandSeparator="." required/>                                  
                    </div>
                    
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">                                
                      <input type="checkbox" for="contaEntrada" class="control-label" (change)="acessoDigitarLancamentoEntrada()"/>Desejo Digitar
                        </div>
                        <div class="col-md-4" *ngIf="checkDigitarLancamento == true">
                          <input type="text"  class="form-control"  [(ngModel)]="descricaoLancamento" formControlName="contaEntrdaSelecionada"/>
                          <input type="checkbox" (change)="salvarLancaMentoEntradaDigitada()"/>Salvar para lancamentos futuros
                       </div> 
                       <br>
                        <div class="col-md-6" *ngIf="checkDigitarLancamento == false">
                          <select class="form-control" type="text" formControlName="contaEntrdaSelecionada" [(ngModel)]="descricaoLancamento">
                            <option>Selecione uma das opções...</option>
                            <option *ngFor="let ContaEntrada of listaEntradasCadastradas">
                             {{ContaEntrada.descricao}}
                            </option>    
                          </select>                                    
                            <div>    
                        </div>
                    <br>                         
                  </div>     
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" style="opacity: 100%;">
                           Descrição:                                      
                        </label>
                        </div>
                        <div class="col-md-6">
                        <input class="form-control" type="text" formControlName="descricaoLancamento" [(ngModel)]="destalhesLancamentoEntrada" placeholder="*Opcional"/>                                  
                    </div>
                    
                  </div>                                                

                  <div class="col-md-6">
                    <br> 
                     <button type="submit" class="btn btn-primary" style="margin-left: 50%; width: 100%;">LANÇAR INFORMAÇÕES DE ENTRADA</button>
                  </div>
                  </div>
                </div>

                </form>
              
                        </div>
                      </div>
                    </div>
</div>


<!-- Modal Lancar saida cliente -->
<div class="modal fade" style="margin: 1%;" id="exampleModalLancarSaida" tabindex="-1" aria-labelledby="exampleModalLabelLancarSaida" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabelLancarSaida"><strong> LANÇAR VALOR DE SAIDA</strong></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="lancerFormSaida" (ngSubmit)="salvarLancamentoSaida(cnpjInfo)">
          <div class="container">
              
              <div class="row">
                  <div class="col-md-4">
                      <label class="form-label" style="opacity: 100%;">
                      
                          Informe a data:                                      
                      </label>
                      </div>
                      <div class="col-md-6">
                      <input class="form-control" type="date" formControlName="datalancamentoSaida" [(ngModel)]="datalancamentoSaida">                                  
                  </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" style="opacity: 100%;">
                           Valor do lançamento:                                      
                        </label>
                        </div>
                        <div class="col-md-6">
                        <input class="form-control" type="text" formControlName="valorlancamentoSaida" [(ngModel)]="valorlancamentoSaida" mask="separator.2" thousandSeparator="." required/>                                  
                    </div>
                    
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">                                
                      <input type="checkbox" for="contaEntrada" class="control-label" (change)="acessoDigitarLancamentoEntrada()"/>Desejo Digitar
                        </div>
                        <div class="col-md-4" *ngIf="checkDigitarLancamento == true">
                          <input type="text"  class="form-control"  [(ngModel)]="descricaolancamentoSaida" formControlName="contaSaidaLancamento"/>
                          <input type="checkbox" (change)="salvarLancaMentoEntradaDigitada()"/>Salvar para lancamentos futuros
                       </div> 
                       <br>
                        <div class="col-md-6" *ngIf="checkDigitarLancamento == false">
                          <select class="form-control" type="text" formControlName="contaSaidaLancamento" [(ngModel)]="descricaolancamentoSaida">
                            <option>Selecione uma das opções...</option>
                            <option *ngFor="let ContaEntrada of listaEntradasCadastradas">
                             {{ContaEntrada.descricao}}
                            </option>    
                          </select>                                    
                            <div>    
                        </div>
                    <br>                         
                  </div>     
                  <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" style="opacity: 100%;">
                           Descrição:                                      
                        </label>
                        </div>
                        <div class="col-md-6">
                        <input class="form-control" type="text" formControlName="descricaoLancamentoSaida" [(ngModel)]="destalhesLancamentoEntrada" placeholder="*Opcional"/>                                  
                    </div>
                    
                  </div>                                                

                  <div class="col-md-6">
                    <br> 
                     <button type="submit" class="btn btn-primary" style="margin-left: 50%; width: 100%;">LANÇAR INFORMAÇÕES DE ENTRADA</button>
                  </div>
                  </div>
                </div>
                </form>              
                        </div>
                      </div>
                    </div>
</div>
              
              
  
      

    <nav class="navbar navbar-expand navbar-dark" style="background: black">
      <div class="container-fluid">
        <div class="logo">
            <img src="../../assets/imagens/65ab872f-fa8e-4b2b-bdd4-376c93f02752_uploads_destacklogo.png" width="170px" alt="Destack 360">
            </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="menu_topo_admin">
          <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../assets/imagens/icone_pequeno.jpg" width="20" height="20">
                {{ (user | async)?.displayName }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><a class="dropdown-item" href="#">Clientes</a></li>
                <li><a class="dropdown-item" href="#">Fornecedores</a></li>
                <li><a class="dropdown-item" href="#"(click)="logout()">Sair</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex">
      <div class="check-menu">
        <input type="checkbox" id="chec"  class="checkmenu">
        <label for="chec"><mat-icon (click)="toggle()">menu</mat-icon> </label>
        <nav class="menu-lateral">
          <ul class="list-unstyled">
            <li><a style="background: red;" routerLink="/admin">DASHBOARD</a></li>
            <li>
            
            <!--------------
            <a class="pagina-selecionada" href="paginaAdminClientes.php">CLIENTES</a>----------->
    
            <li class="cliente-nav dropdown"> 
              <a class="dropdown-toggle" id="navbarDropdownCliente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CLIENTES
              </a>                 
                                 
                <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
                  <li><a class="dropdown-item" href="#">AREA DO CLIENTE</a></li>

                 <li><a type="button" (click)="clickcliente()" data-bs-toggle="modal" data-bs-target="#exampleModal">CADASTRAR MODAL?</a></li>
                  <li><a routerLink="/cadastrarCliente">CADASTRAR</a></li>
                  <li><a class="dropdown-item" routerLink="/consultarClientes">CONSULTAR</a></li>                               
                </ul>
              </li>     
            <li><a>FORNECEDORES</a></li>
            <li class="cliente-nav dropdown"> 
              <a class="dropdown-toggle" id="navbarDropdownCliente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CONTAS
              </a>                
                <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
                  <li><a class="dropdown-item" routerLink="/cadastrarContaEntrada">CADASTRAR CONTA ENTRADA</a></li>                 

                 <!-------<li><a type="button" (click)="clickcliente()" data-bs-toggle="modal" data-bs-target="#exampleModal">CADASTRAR</a></li>----> 
                  <li><a routerLink="/cadastrarContaSaida">CADASTRAR CONTA SAIDA</a></li>  
                  <li><a class="dropdown-item" routerLink="/listarContasEntrada">CONTAS ENTRADAS CADASTRADAS</a></li>                                            
                </ul>
              </li> 
            <li><a >CONSULTAR</a></li>
          </ul>
        </nav>
      </div>
        <section>
          <label class="pgnAdmin">
              <div [@childAnimation]="isOpen ? 'open' : 'closed'"
              class="open-close-container">
              <div class="container mt-2"> 
                <h3 class="text-center"> CONSULTAR CLIENTES<h3>
                  <hr /> 
                  <div class="col-md-12 text-center" *ngIf="verificaClientesCadastrados == true">
                    <h4>Você ainda não tem Clientes cadastrados</h4>
                  </div>

                  <div class="row" *ngIf="verificaClientesCadastrados == false">
                    <div class="col-md-12">
                        <ul class="list-group">
                          <li *ngFor="let Cliente of clientes " class="list-group-item d-flex justify-content-between align-items-start" style="margin: 20px; padding: 33px; border-radius: 33px; background: #8a8688;">
                            
                            <div class="container mt-2">
                              <div class="row">
                                <div class="col-md-2">
                                  <p>Razão social: </p>                                                             
                                </div>
                                <div class="col-md-4 mt-2">
                                  <p>{{Cliente.razaoSocial}}</p> 
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">                          
                                  <div class="btn-group"  role="group" aria-label="Basic mixed styles example">
                                    <button type="button" class="btn btn-success" style="margin: 10px;"  data-bs-toggle="modal" data-bs-target="#exampleModalLancars" (click)="recuperarInformarcoesClientesSelecionado(Cliente.identificador)" >LANÇAR ENTRADA CLIENTE</button>                                    
                                    <button type="button" class="btn btn-primary" style="margin: 10px;"  data-bs-toggle="modal" data-bs-target="#exampleModalLancarSaida" (click)="recuperarInformarcoesClientesSelecionado(Cliente.identificador)">LANÇAR SAIDA CLIENTE</button>                                    
                                    <button type="button" class="btn btn-info"style="margin: 10px;"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="recuperarInformarcoesClientesSelecionado(Cliente.identificador)">INFO</button>
                                    <button type="button" class="btn btn-warning" style="margin: 10px;" >EDITAR</button>  
                                    <button type="button" class="btn btn-danger" style="margin: 10px;" >EXCLUIR</button>  
                                  </div>
                                </div>

                              </div>
                              
                               

                            </div>
                            </li>                           
                        </ul>
                    </div>
                </div>
                    
                
                   
                  
        
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
      <script src="dashboard.js"></script>
    
  

  