<body class="text-center-home">
    <!-- Button trigger modal
  <button type="button" class="btn btn-primary" data-bs-toggle="modal1" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" style="margin-top: 4%;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastrar Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="form-control" >
          <input class="form-control" >
          <input class="form-control" >
          <input class="form-control" >
          <input class="form-control" >
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal Informações conta Entrada-->
   <div class="modal fade" style="margin-top: 4%;" id="exampleModalInformacoesContaEntrada" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Informações</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h4 style="color: black;">
                  <strong>
                  Descrição:
                  </strong>
                </h4>
              </div>
              <div class="col-md-6">
                <h3 style="color: royalblue;"><strong>  
                 {{ descricaoInfo }}       
                  
                </strong>
                </h3>
              </div>          
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 style="color: black;">
                  <strong>
                  Código conta Banco:
                  </strong>
                </h4>
              </div>
              <div class="col-md-6">
                <h3 style="color: royalblue;"><strong>  
                       
              {{ codigoC }}
                </strong>
                </h3>
              </div>          
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 style="color: black;">
                  <strong>
                  Código conta Caixa:
                  </strong>
                </h4>
              </div>
              <div class="col-md-6">
                <h3 style="color: royalblue;"><strong>  
                       {{ codigoD }}
              
                </strong>
                </h3>
              </div>          
            </div>


          </div>
         

        </div>
      
      </div>
    </div>
  </div>


    <!-- Modal Edit conta Entrada-->
    <div class="modal fade" style="margin-top: 4%;" id="exampleModalEditarContaEntrada" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">EDITAR CONTA ENTRADA</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container col-md-12">

              <form [formGroup]="formAtualizaContaEntrada">

             
              <div class="row">
                <div class="col-md-6">
                  <h4 style="color: black;">
                    <strong>
                    Descrição:
                    </strong>
                  </h4>
                </div>
                <div class="col-md-6">
                  <h3 style="color: royalblue;"><strong>  
                   
                    <input type="text" value=" {{ contaInfor.descricao }}" [(ngModel)]="contaEdit.descricao" formControlName="descricao">
                   
                          
                    
                  </strong>
                  </h3>
                </div>          
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h4 style="color: black;">
                    <strong>
                    Código conta Banco:
                    </strong>
                  </h4>
                </div>
                <div class="col-md-6">
                  <h3 style="color: royalblue;"><strong>  
                    <input type="text" value=" {{ contaInfor.codigoC }}" [(ngModel)]="contaEdit.codigoC" formControlName="codigoC">
             
                  </strong>
                  </h3>
                </div>          
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h4 style="color: black;">
                    <strong>
                    Código conta Caixa:
                    </strong>
                  </h4>
                </div>
                <div class="col-md-6">
                  <h3 style="color: royalblue;"><strong>  
                    <input type="text" value=" {{ contaInfor.codigoD }}" [(ngModel)]="contaEdit.codigoD" formControlName="codigoD">
                  </strong>
                  </h3>
                </div>          
              </div>

              <div class="row">
                <div class="col-md-6">
                  <h4 style="color: black;">
                   <button class="btn btn-primary" (click)="salvarAlteracoesContaEntrada(contaInfor.codigoC)">
                    Salvar Alterações
                   </button>
                  </h4>
                </div>          
              </div>
  
            </form>
            </div>
           
  
          </div>
        
        </div>
      </div>
    </div>


      <!-- Modal Delete conta Entrada-->
   <div class="modal fade" style="margin-top: 4%;" id="exampleModalInformacoesContaEntrada" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Informações</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h4 style="color: black;">
                  <strong>
                  Descrição:
                  </strong>
                </h4>
              </div>
              <div class="col-md-6">
                <h3 style="color: royalblue;"><strong>  
                 {{ descricaoInfo }}       
                  
                </strong>
                </h3>
              </div>          
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 style="color: black;">
                  <strong>
                  Código conta Banco:
                  </strong>
                </h4>
              </div>
              <div class="col-md-6">
                <h3 style="color: royalblue;"><strong>  
                       
              {{ codigoC }}
                </strong>
                </h3>
              </div>          
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 style="color: black;">
                  <strong>
                  Código conta Caixa:
                  </strong>
                </h4>
              </div>
              <div class="col-md-6">
                <h3 style="color: royalblue;"><strong>  
                       {{ codigoD }}
              
                </strong>
                </h3>
              </div>          
            </div>


          </div>
         

        </div>
      
      </div>
    </div>
  </div>

  <body class="text-center-home">
    <!-- Button trigger modal
  <button type="button" class="btn btn-primary" data-bs-toggle="modal1" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" style="margin-top: 4%;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastrar Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="form-control" >
          <input class="form-control" >
          <input class="form-control" >
          <input class="form-control" >
          <input class="form-control" >
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
      <nav class="navbar navbar-expand navbar-dark" style="background: black">
        <div class="container-fluid">
          <div class="logo">
              <img src="../../assets/imagens/65ab872f-fa8e-4b2b-bdd4-376c93f02752_uploads_destacklogo.png" width="170px" alt="Destack 360">
              </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="menu_topo_admin">
            <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../../assets/imagens/icone_pequeno.jpg" width="20" height="20">
                  {{ (user | async)?.displayName }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Clientes</a></li>
                  <li><a class="dropdown-item" href="#">Fornecedores</a></li>
                  <li><a class="dropdown-item" href="#"(click)="logout()">Sair</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="d-flex">
        <div class="check-menu">
          <input type="checkbox" id="chec"  class="checkmenu">        
          <label for="chec" ><mat-icon (click)="toggle()" style="font-size: 50px;">menu</mat-icon></label>
          <nav class="menu-lateral">
            <ul class="list-unstyled">
              <li><a routerLink="/admin">DASHBOARD</a></li>
              <li>
              
              <!--------------
              <a class="pagina-selecionada" href="paginaAdminClientes.php">CLIENTES</a>----------->
      
              <li class="cliente-nav dropdown"> 
                <a class="dropdown-toggle" id="navbarDropdownCliente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CLIENTES
                </a>                 
                                   
                  <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
                    <li><a class="dropdown-item" routerLink="/dashboard">AREA DO CLIENTE</a></li>
  
                   <!-------<li><a type="button" (click)="clickcliente()" data-bs-toggle="modal" data-bs-target="#exampleModal">CADASTRAR</a></li>----> 
                    <li><a routerLink="/cadastrarCliente">CADASTRAR</a></li>
                    <li><a class="dropdown-item" routerLink="/consultarClientes">CONSULTAR</a></li>                               
                  </ul>
                </li>     
              <li class="cliente-nav dropdown">
                <a class="dropdown-toggle" id="navbarDropdownCliente" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  FORNECEDORES</a>           
                                
                <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
                  <li><a class="dropdown-item" routerLink="/fornecedor">CADASTRAR FONECEDOR</a></li>
                 
  
                 <!-------<li><a type="button" (click)="clickcliente()" data-bs-toggle="modal" data-bs-target="#exampleModal">CADASTRAR</a></li>----> 
                  <li><a class="dropdown-item" routerLink="/fornecedorlista">FORNECEDORES CADASTRADOS</a></li>                                                             
                </ul>            
              </li>
              <li class="cliente-nav dropdown"> 
                <a class="dropdown-toggle" id="navbarDropdownCliente" style="background: red;"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CONTAS
                </a>                 
                                   
                  <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
                    <li><a class="dropdown-item" routerLink="/cadastrarContaEntrada">CADASTRAR CONTA</a></li>
                   
  
                   <!-------<li><a type="button" (click)="clickcliente()" data-bs-toggle="modal" data-bs-target="#exampleModal">CADASTRAR</a></li>----> 
                    <!------- <li><a routerLink="/cadastrarContaSaida">CADASTRAR CONTA SAIDA</a></li> ----> 
                    <li><a class="dropdown-item" routerLink="/listarContasEntrada">CONTAS CADASTRADAS</a></li>                                            
                  </ul>
                </li> 
              <li><a >CONSULTAR</a></li>
            </ul>
          </nav>
        </div>
          <section>
            <label class="pgnAdmin">
                <div [@childAnimation]="isOpen ? 'open' : 'closed'"
                class="open-close-container">
                <div class="container mt-2"> 
                  <h3 class="text-center">CONTAS ENTRADAS CADASTRADAS<h3>
                    <hr /> 
                    <div class="row">
                      <div class="col-md-12">
                          <ul class="list-group">
                            <li *ngFor="let ContaEntrada of constasEntradaModels " class="list-group-item d-flex justify-content-between align-items-start">
                                <p>{{ContaEntrada.descricao}}</p>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalEditarContaEntrada"(click)="recuperarInformacoesContaEntrada(ContaEntrada.codigoC)">EDITAR</button>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalInformacoesContaEntrada"(click)="recuperarInformacoesContaEntrada(ContaEntrada.codigoC)">INFO</button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalInformacoesContaEntrada"(click)="recuperarInformacoesContaEntrada(ContaEntrada.codigoC)">EXCLUIR</button>   
                                  </div>
                              </li>
                             
                          </ul>
                      </div>
                  </div>
                      
                     
                    
          
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="dashboard.js"></script>
      
    
  
    