.open-close-container{
  margin-top: 2%;
  margin-left: 5%;
  border-radius: 30px;
  opacity: 100%;
}

input[type="checkbox"]:checked ~ .open-close-container{
  margin-left: 5%;       
}  
.col-md-2{
    padding: 10px;
}

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 200px;
  width: 300px;
  background-color: aqua;
}

.example-large-box {
  height: 300px;
  width: 300px;
}
mat-grid-tile {
  background: lightblue;
}