<!----------Dashboard
<mat-drawer-container>

    <mat-drawer mode="side" opened="true">
        <app-sidenav></app-sidenav>
    </mat-drawer>
<mat-drawer-container>
    <app-header></app-header>

    <br>
    <br>
    <button mat-raised-button color="primary" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <button mat-raised-button color="primary" (click)="logout()">Sair</button>
    
    
    <mat-list *ngIf="(user | async)">
        <mat-list-item>Account Type: {{ (user | async)?.accountType }}</mat-list-item>
        <mat-list-item>Display Name: {{ (user | async)?.displayName }}</mat-list-item>
        <mat-list-item>Display Name (lower): {{ (user | async)?.displayName_lower }}</mat-list-item>
        <mat-list-item>Email: {{ (user | async)?.email }}</mat-list-item>
        <mat-list-item>Email (lower): {{ (user | async)?.email_lower }}</mat-list-item>
        <mat-list-item>Email Verification Status: {{ (afAuth.user | async)?.emailVerified }}</mat-list-item>
    </mat-list>
    
</mat-drawer-container>

</mat-drawer-container>--------->



<body class="text-center-home">
    <nav class="navbar navbar-expand navbar-dark" style="background: black">
      <div class="container-fluid">
        <div class="logo">
            <img src="../../assets/imagens/65ab872f-fa8e-4b2b-bdd4-376c93f02752_uploads_destacklogo.png" width="170px" alt="Destack 360">
            </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="menu_topo_admin">
          <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../assets/imagens/icone_pequeno.jpg" width="20" height="20">
                {{ (user | async)?.displayName }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><a class="dropdown-item" href="#">Clientes</a></li>
                <li><a class="dropdown-item" href="#">Fornecedores</a></li>
                <li><a class="dropdown-item" href="singout.php">Sair</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex">
      <div class="check-menu">
        <input type="checkbox" id="chec">
        <label for="chec"><i class="fal fa-bars fa-3x" style="color: blanchedalmond;"></i></label>
        <nav class="menu-lateral">
          <ul class="list-unstyled">
            <li><a class="pagina-selecionada" href="paginaAdminDashboard.php">DASHBOARD</a></li>
            <li>
            
            <!--------------
            <a class="pagina-selecionada" href="paginaAdminClientes.php">CLIENTES</a>----------->
    
            <li class="cliente-nav dropdown"> 
                  <a class="dropdown-toggle" href="#" id="navbarDropdownCliente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CLIENTES
                  </a>
                  
                 
                
                <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
                  <li><a class="dropdown-item" href="#">AREA DO CLIENTE</a></li>
                  <li><a class="dropdown-item" href="../destackAssociados360/formularioCadastrarCliente.php">CADASTRAR</a></li>
                  <li><a class="dropdown-item" href="#">CONSULTAR</a></li>
                  <li><a class="dropdown-item" href="#">EDITAR</a></li>               
                </ul>
              </li>
          
          
          
        
            <li><a href="paginaAdminFornecedores.php">FORNECEDORES</a></li>
            <li><a href="paginaAdminContas.php">CONTAS</a></li>
            <li><a href="paginaAdminConsultar.php">CONSULTAR</a></li>
          </ul>
        </nav>
      </div>
      <section>
        <div class="header-page">
          <h3> Pagina Admin<h3><div>
        </div><section>
      </section>
      <div> </div>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="dashboard.js"></script>
  <body></body>
