<body class="text-center-home">
  <nav class="navbar navbar-expand navbar-dark" style="background: black">
    <div class="container-fluid">
      <div class="logo">
          <img src="../../assets/imagens/65ab872f-fa8e-4b2b-bdd4-376c93f02752_uploads_destacklogo.png" width="170px" alt="Destack 360">
          </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="menu_topo_admin">
        <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../assets/imagens/icone_pequeno.jpg" width="20" height="20">
              {{ (user | async)?.displayName }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Clientes</a></li>
              <li><a class="dropdown-item" href="#">Fornecedores</a></li>
              <li><a class="dropdown-item"(click)="logout()">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="d-flex">
    <div class="check-menu">
      <input type="checkbox" id="chec"  class="checkmenu">
      <label for="chec"><mat-icon (click)="toggle()">menu</mat-icon> </label>
      <nav class="menu-lateral">
        <ul class="list-unstyled">           
            <li *ngIf="(user | async)?.accountType == 'admin';"><a routerLink="/admin">ADMIN</a></li>
         <li><a class="pagina-selecionada" >DASHBOARD</a></li>
          <li>
          
          <!--------------
          <a class="pagina-selecionada" href="paginaAdminClientes.php">CLIENTES</a>----------->
  
          <li class="cliente-nav dropdown"> 
                <a class="dropdown-toggle" href="#" id="navbarDropdownCliente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                LANÇAMENTOS
                </a>     
              <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
                <!-----------<li><a class="dropdown-item" href="#">AREA DO CLIENTE</a></li>------->
                <li><a class="dropdown-item" (click)="efetuarLancamentoEntrada()">LANÇAR ENTRADA</a></li>
                <li><a class="dropdown-item"(click)="efetuarLancamentoSaida()">LANÇAR SAÍDA</a>                                
                </li>
                <!----------- <li><a class="dropdown-item" href="#">EDITAR</a></li>  ------>             
              </ul>
            </li>
      
          <li><a ></a></li>
          <li><a >CONTAS</a></li>
          <li><a >CONSULTAR</a></li>
        </ul>
      </nav>
    </div>


    <!------------ *ngIf="clickEfetuarLancamento == true" -->
       
                    <div [@childAnimation]="isOpen ? 'open' : 'closed'"
                    class="open-close-container">
                    <div>
                        <h2 class="text-center form-text">VISÃO GERAL</h2>

                    </div>
                    <hr />
                    <mat-tab-group  dynamicHeight>
                      <mat-tab label="JANEIRO"> 

                    
                        <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                            STATUS:
                            <button>Visualizar</button>
                     
                          <mat-grid-tile>
                            
                            <div class="example-small-box mat-elevation-z4">
                              <div class="col-md-8 text-center" >
                                <p>TOTAL ENTRADAS:</p>
                             <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperado.valorTotalEntradaMensal}}</h3>  </strong> 
                            </div>
                            </div>
                            
                            </mat-grid-tile>
                          <mat-grid-tile>
                            
                            <div class="example-small-box mat-elevation-z4">
                              <div class="col-md-8 text-center" >
                                <p>TOTAL SAIDAS:</p>
                                <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperado.valorTotalSaidaMensal}}</h3>  </strong> 
                            </div>
                            </div>
                            
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <div class="example-small-box mat-elevation-z4">
                              <div class="col-md-8 text-center" >
                                <p>QUANTIDADE DE ENTRADAS:</p>
                                <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperado.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                            </div>
                            </div>
                            
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <div class="example-small-box mat-elevation-z4">
                              <div class="col-md-8 text-center" >
                                <p>QUANTIDADE SAIDAS:</p>
                                <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperado.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                            </div>
                            </div>
                            
                          </mat-grid-tile>
                        </mat-grid-list>
                <!--------------        <div class="row">
                          <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                            <h3> {{userModelRecuperado.valorTotalEntradaMensal}}</h3>
                        </div>
                                                    

                         

                          <div class="col-md-2">
                             
                          </div>



                          </div>    
                          <div class="example-small-box mat-elevation-z4">                           





                          </div>        
                          <div class="example-small-box mat-elevation-z4">                           





                          </div> 
                        </div>                        
                              
</div>  ------>
                      </mat-tab>

                      <mat-tab label="FEVEREIRO">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                            <h1>Recuperado retorno é: {{( tipotestes  | async)}}</h1>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoFevereiro.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoFevereiro.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoFevereiro.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoFevereiro.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </mat-tab>
                      <button label="MARÇO" (click)="testando()">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                 
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoMarco.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoMarco.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoMarco.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoMarco.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </button>
                      <mat-tab label="ABRIL" (click)="testando()">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                 
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoAbril.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoAbril.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoAbril.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoAbril.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </mat-tab>
                      <mat-tab label="MAIO" (click)="testando()">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                 
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoMaio.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoMaio.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoMaio.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoMaio.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </mat-tab>
                      <mat-tab label="JUNHO" (click)="testando()">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                 
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoJunho.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoJunho.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoJunho.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoJunho.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </mat-tab>
                      <mat-tab label="JULHO" (click)="testando()">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                 
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoJulho.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoJulho.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoJulho.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoJulho.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </mat-tab>
                      <mat-tab label="AGOSTO" (click)="testando()">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                 
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoAgosto.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoAgosto.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoAgosto.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoAgosto.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </mat-tab>
                      <mat-tab label="SETEMBRO" (click)="testando()">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                 
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoSetembro.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoSetembro.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoSetembro.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoSetembro.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </mat-tab>
                      <mat-tab label="OUTUBRO" (click)="testando()">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                 
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoOutubro.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoOutubro.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoOutubro.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoOutubro.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </mat-tab>
                      <mat-tab label="NOVEMBRO" (click)="testando()">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                 
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoNovembro.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoNovembro.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoNovembro.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoNovembro.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </mat-tab>
                      <mat-tab label="DEZEMBRO" (click)="testando()">   <mat-grid-list cols="4" rowHeight="2:2">
                                                 

                        STATUS:
                        <button>Visualizar</button>
                 
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL ENTRADAS:</p>
                         <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoDezembro.valorTotalEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                        </mat-grid-tile>
                      <mat-grid-tile>
                        
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>TOTAL SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoDezembro.valorTotalSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE DE ENTRADAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoDezembro.quantidadeTotalLancamentosEntradaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="example-small-box mat-elevation-z4">
                          <div class="col-md-8 text-center" >
                            <p>QUANTIDADE SAIDAS:</p>
                            <strong><h3 style="font-size: 48px; color: red;"> {{userModelRecuperadoDezembro.quantidadeTotalLancamentosSaidaMensal}}</h3>  </strong> 
                        </div>
                        </div>
                        
                      </mat-grid-tile>
                    </mat-grid-list> </mat-tab>
                     
                    </mat-tab-group>
                       


                      </div>             
                    <div> 
<!--------------
                    <div class="d-flex" *ngIf="clickEfetuarLancamentoEntrada == true" >




                      <div class="check-menu"  style="margin-left: 35px; margin-right: 10px;">
                      
                        <div [@childAnimation]="isOpen ? 'open' : 'closed'"
                        class="open-close-container">
                        <h3> EFETUAR LANÇAMENTO ENTRADA<h3>
                          <div style="margin-left: 80%;">
                            <button (click)="retornarData()" mat-raised-button color="primary">SALVAR LANÇAMENTO</button></div>  -----> 
                                    <!--------------------------------------------- EFETUAR LANÇAMENTO --------------------------------------------->                    
                                   <!----------
                                          <div style="margin-top: 2%;">                                
                                            <br>
                                           <h3>Escolha uma data:</h3>
                                           <input formControlName="dataEscolhida" type="date">                                   
                                          </div>
                                          <br>
                                          <div>   <h3 style="color: red;">VALOR</h3>
                                                  <input formControlName="valor" type="text"placeholder="Valor R$">
                                          </div>  
                                          <br>                                                  
                                  <nav class="menu-lancamento">
                                    <ul class="navbar-nav">
                                      <li class="nav-item dropdown">
                                        <p style="color: black; text-decoration: none; margin-top: 3%;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                         ESCOLHA O FORNECEDOR
                                        </p>                            
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                          <li><a class="dropdown-item" href="#">FORNCEDOR1</a></li>
                                          <li><a class="dropdown-item" href="#">FORNCEDOR2</a></li>
                                          <li><a class="dropdown-item" href="#">FORNCEDOR3</a></li>
                                          <li><a class="dropdown-item">FORNCEDOR4</a></li>
                                        </ul>
                                      </li>
                                    </ul>
                                    <input formControlName="fornecedorEscolhido" type="text"placeholder="Valor R$">
                                  </nav>                     
                                </form>   
                               </div>
                                
                                <div class="d-flex" *ngIf="clickEfetuarLancamentoSaida == true" >
                                  <app-lancar-saida></app-lancar-saida>
                                </div>




                                  <div class="check-menu"  style="margin-left: 35px; margin-right: 10px;">
                                    <div [@childAnimation]="isOpen ? 'open' : 'closed'"
                                    class="open-close-container">
                                    
                                    
                                    
                                    
                                    <h3> EFETUAR LANÇAMENTO SAÍDA<h3>-------------->
                                         
                                                <!--------------------------------------------- EFETUAR LANÇAMENTO --------------------------------------------->                    
                                               <!------------------
                                               <form [formGroup]="lancerForm" (ngSubmit)="retornarData()">
                                                      <div style="margin-top: 2%;">                                
                                                        <br>
                                                       <h3>Escolha uma data:</h3>
                                                       <input formControlName="dataEscolhida" type="date">                                   
                                                      </div>
                                                      <br>
                                                      <div>   <h3 class="labelformlancer" style="color: red;">VALOR</h3>
                                                              <input formControlName="valorDigitado" type="text"placeholder="Valor R$">
                                                      </div>  
                                                      <br>                                                  
                                              <nav class="menu-lancamento">
                                                <ul class="navbar-nav">
                                                  <li class="nav-item dropdown">
                                                    <p style="color: black; text-decoration: none; margin-top: 3%;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                     ESCOLHA O FORNECEDOR
                                                    </p>                            
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                      <li><a class="dropdown-item" href="#">FORNCEDOR1</a></li>
                                                      <li><a class="dropdown-item" href="#">FORNCEDOR2</a></li>
                                                      <li><a class="dropdown-item" href="#">FORNCEDOR3</a></li>
                                                      <li><a class="dropdown-item">FORNCEDOR4</a></li>
                                                    </ul>
                                                  </li>
                                                </ul>
                                                <input formControlName="fornecedorEscolhido" type="text"placeholder="Valor R$">
                                              </nav>   
                                              <button mat-raised-button color="primary">SALVAR LANÇAMENTO</button>                  
                                            </form> -->
                          


                  
                    





<!------------- Dashboard
<mat-drawer-container>

    <mat-drawer mode="side" opened="true">
        <app-sidenav></app-sidenav>
    </mat-drawer>
<mat-drawer-container>
    <app-header></app-header>

    <br>
    <br>
    <button mat-raised-button color="primary" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <button mat-raised-button color="primary" (click)="logout()">Sair</button>
    
    
    <div *ngFor="(user)">
        <mat-list-item>Account Type: {{ (user | async)?.accountType }}</mat-list-item>
        <mat-list-item>Display Name: {{ (user | async)?.displayName }}</mat-list-item>
        <mat-list-item>Display Name (lower): {{ (user | async)?.displayName_lower }}</mat-list-item>
        <mat-list-item>Email: {{ (user | async)?.email }}</mat-list-item>
        <mat-list-item>Email (lower): {{ (user | async)?.email_lower }}</mat-list-item>
        <mat-list-item>Email Verification Status: {{ (afAuth.user | async)?.emailVerified }}</mat-list-item>
    </div>
    
</mat-drawer-container>

</mat-drawer-container>


-->