<!-- Modal Cadastrar empresa cliente -->
<div class="modal fade" style="background: black !important;" id="modalCadastrarEmpresa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background:#c6c2c4 !important;">
      <div class="modal-header" >
        <h3 class="modal-title " id="exampleModalLabelLancarEntrada">CADASTRAR EMPRESA </h3>
        
      </div>
      <div class="modal-body">      
       
         
          <form class="row g-3">

          <div class="col-md-6">            

            <label for="inputEmail4" class="form-label">NOME EMPRESA</label>
            <input autocomplete="off" name="nomeEmpresa" type="text" class="form-control"  id="inputEmail4"
            [(ngModel)]="empresaCadastra.nomeEmpresa"

            >
          </div>
          <div class="col-md-6">
            <label for="razaosocial" class="form-label">RAZÃO SOCIAL </label>
            <input type="text" name="razaosocial"  class="form-control" id="razaosocial"
            [(ngModel)]="empresaCadastra.razaoSocial"
            />
            
          </div>

          

          <div class="col-6">
            <label for="cnpj" class="form-label">CNPJ <strong><span style="color: red;">*</span></strong></label>
            <input type="text" class="form-control" name="cnpj"  id="cnpj" placeholder="Caso seja pessoa fisíca use o CPF" mask="CPF_CNPJ"
            [(ngModel)]="empresaCadastra.cnpj">
            
          </div>

          <div class="col-6">
            <label for="email" class="form-label">E-MAIL</label>
            <input type="email" name="email" class="form-control"  id="codigoCaixa" [(ngModel)]="empresaCadastra.email">
          </div>

          <div class="col-4">
            <label for="telefone" class="form-label">TELEFONE</label>
            <input type="text" name="telefone" class="form-control" id="telefone" 
            [(ngModel)]="empresaCadastra.telefone"
            prefix="55+" mask="(00) 0000 0000">
          </div>

          <div class="col-4">           
            <label for="telefone" class="form-label">CELULAR</label>
              <input type="text" name="celular" class="form-control" id="celular" 
              [(ngModel)]="empresaCadastra.celular"
              prefix="55+" mask="(00) 0 0000 0000">
              </div>
              <div class="col-4">           
                <input class="form-check-input" type="checkbox" style="margin-right: 2px;"id="whatsapp" [checked]="chackDesabilteBox == true" (click)="numeroWhatsapp()"> 
                <h4 for="whatsapp" class="form-label">WHATSAPP <strong><span style="color: red;">*</span></strong>( MESMO QUE O CELULAR)</h4>
                  <input type="text" [disabled]="verificaCelularWhats === true" name="whatsapp" class="form-control" id="whatsapp" 
                  [(ngModel)]="empresaCadastra.whatsapp"
                  prefix="55+" mask="(00) 0 0000 0000">
                  </div>

          

         

          <div class="col-4">
            <label for="saldoCaixa" class="form-label">SALDO CAIXA</label>
            <input type="text" name="saldoCaixa" autocomplete="off" class="form-control" id="saldoCaixa"  placeholder="0,00" [(ngModel)]="empresaCadastra.saldoCaixa">
          </div>
       
         
                   
       
          




        

          <div class="col-4">
            <label for="saldoBancoCadastrar" class="form-label">SALDO BANCO</label>
            <input type="text" name="saldoBancoCadastrar" class="form-control" id="saldoBancoCadastrar" [(ngModel)]="empresaCadastra.saldoBanco">
          </div>
          <div class="col-3">
            <label for="inputCep" class="form-label">CEP </label>
            <input type="text" class="form-control" id="inputCep"
            [ngModel] 
            name="cep"
            [(ngModel)]="empresaCadastra.cep"            
            (blur)="consultarCEP($event)"/>
                     
          </div>
          
          <div class="col-md-3">
            <label for="cidade" class="form-label">CIDADE</label>
            <input type="text" name="cidade" class="form-control" id="cidade" 
            [(ngModel)]="empresaCadastra.cidade">
          </div>


          <div class="col-md-3">
            <label for="estado" class="form-label">ESTADO</label>
            <input type="text" name="estado" class="form-control" id="estado"
            [(ngModel)]="empresaCadastra.estado">
          </div>


          <div class="col-3">
            <label for="bairro" class="form-label">BAIRRO</label>
            <input type="text" name="bairro" class="form-control" id="bairro" 
            [(ngModel)]="empresaCadastra.bairro">
          </div>



          <div class="col-4">
            <label for="bairro" class="form-label">ENDEREÇO</label>
            <input type="text" name="endereco" class="form-control" id="endereco" 
            [(ngModel)]="empresaCadastra.endereco">
          </div>
          <div class="col-4">
            <label for="numero" class="form-label">NUMERO</label>
            <input type="text" name="numero" class="form-control" id="numero" 
            [(ngModel)]="empresaCadastra.numero">            
          </div>

          <div class="col-4">
            <label for="complemento" class="form-label">COMPLEMENTO</label>
            <input type="text" name="complemento" class="form-control" id="complemento"
            [(ngModel)]="empresaCadastra.complemento">
          </div>
       
          <div class="col-12">
            <button type="submit" class="btn btn-primary" (click)="cadastrarEmpresa(empresaCadastra)">CADASTRAR</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelarCadastroEmpresa()" aria-label="Close">CANCELAR</button>
          </div>        
        </form>
              
                        </div>
                      </div>
                    </div>
</div>






<!---------------MENU SUSPENSO------------------------>
<nav class="navbar navbar-expand navbar-dark" style="background: black">
    <div class="container-fluid">
      <div class="logo">
          <img src="../../assets/imagens/65ab872f-fa8e-4b2b-bdd4-376c93f02752_uploads_destacklogo.png" width="170px" alt="Destack 360">
          </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="menu_topo_admin">
        <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../assets/imagens/icone_pequeno.jpg" width="20" height="20">
              {{ (user | async)?.displayName }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Clientes</a></li>
              <li><a class="dropdown-item" href="#">Fornecedores</a></li>
              <li><a class="dropdown-item" href="#"(click)="logout()">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!---------------MENU LATERAL--------------------->
  <div class="d-flex">
    <div class="check-menu">
      <input type="checkbox" id="chec"  class="checkmenu">        
      <label for="chec" ><mat-icon (click)="toggle()" style="font-size: 50px; margin-left: 200px;">menu</mat-icon></label>
      <nav class="menu-lateral">
        <ul class="list-unstyled">
          <li><a style="background: red;" routerLink="/admin">DASHBOARD</a></li>
          <li>
          
          <!--------------
          <a class="pagina-selecionada" href="paginaAdminClientes.php">CLIENTES</a>----------->
  
  
  
            <!-------------------------------  MENU CADASTRO     ----------------------------------------------->
  
            <li class="cliente-nav dropdown"> 
              <a class="dropdown-toggle" id="navbarDropdownCliente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CADASTRO
              </a>                 
                                 
                <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
                  <li><a class="dropdown-item" routerLink="/acesso">ACESSO</a></li>
    
                 <!-------<li><a type="button" (click)="clickcliente()" data-bs-toggle="modal" data-bs-target="#exampleModal">CADASTRAR</a></li>----> 
                 <li><a class="dropdown-item" routerLink="/empresas">EMPRESAS</a></li>
                 <li><a class="dropdown-item" routerLink="/clientes">CLIENTES</a></li>
                 <li><a class="dropdown-item" routerLink="/fornecedores">FORNECEDORES</a></li>
                 <li><a class="dropdown-item" routerLink="/bancos">BANCOS</a></li>
                 <li><a class="dropdown-item" routerLink="/entradas">ENTRADAS</a></li>
                 <li><a class="dropdown-item" routerLink="/saidas">SAÍDAS</a></li>
                 <li><a class="dropdown-item" routerLink="/transferencia">TRANSFERÊNCIAS</a></li>                                    
                </ul>
              </li>  
            
          <li class="cliente-nav dropdown"> 
            <a class="dropdown-toggle" id="navbarDropdownCliente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              LANÇAMENTOS
            </a>                 
                               
              <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
                <li><a class="dropdown-item" routerLink="/#">ENTRADAS</a></li>
  
               <!-------<li><a type="button" (click)="clickcliente()" data-bs-toggle="modal" data-bs-target="#exampleModal">CADASTRAR</a></li>----> 
                <li><a routerLink="/#">SAIDAS</a></li>
                <li><a class="dropdown-item" routerLink="#">TRANSFERÊNCIAS</a></li>                               
              </ul>
            </li>     
          <li class="cliente-nav dropdown">
            <a class="dropdown-toggle" id="navbarDropdownCliente" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              RELATÓRIOS</a>           
                            
            <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
              <li><a class="dropdown-item" routerLink="/#">VISÃO GERAL</a></li>
             
  
             <!-------<li><a type="button" (click)="clickcliente()" data-bs-toggle="modal" data-bs-target="#exampleModal">CADASTRAR</a></li>----> 
              <li><a class="dropdown-item" routerLink="/#">RELATÓRIO MENSAL</a></li>     
              <li><a class="dropdown-item" routerLink="/#">RELATÓRIO TRIMESTRAL</a></li>
              <li><a class="dropdown-item" routerLink="/#">RELATÓRIO ANUAL</a></li>                                                            
            </ul>            
          </li>     
        </ul>
      </nav>
    </div>

    <section>
      <div class="container">
        <label class="pgnAdmin">
          <div [@childAnimation]="isOpen ? 'open' : 'closed'"
          class="open-close-container">
          <div class="row">
            <div class="col-md-9">
              <h2> TELA EMPRESAS </h2>
            </div> 
            <div class="col-md-3">
              <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#modalCadastrarEmpresa">CADASTRAR EMPRESA</button>
            </div> 

          </div>
            
           
            <hr /> 
            
            <div *ngIf="verificaEmpresasCadastradas == true">
              <h3>{{mensagemCasoNaoTenhaEmpresaCadastrada}}</h3>
            </div>

            <div *ngIf="verificaEmpresasCadastradas == false">

              <table class="table table-dark table-hover">
                <thead>
                  <tr>
                    <th scope="col">NOME</th>
                    <th scope="col">RAZÃO SOCIAL</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">SALDO CAIXA</th>
                    <th scope="col">SALDO BANCO</th>
                    <th scope="col">CONFIGURAÇÃO</th>
                    <th scope="col">INFO.COMPLETA</th>
                  </tr>
                </thead>
                <tbody *ngFor="let Empresa of empresasBanco">
                  <tr>
                    <th scope="row">{{Empresa.nomeEmpresa}}</th>
                    <td class="linhatabela">{{Empresa.razaoSocial}}</td>
                    <td class="linhatabela">{{Empresa.cnpj}}</td>
                    <td class="linhatabela">{{Empresa.saldoCaixa}}</td>
                    <td class="linhatabela">{{Empresa.saldoBanco}}</td>                    
                    <td>
                      <div class="container">
                        <div class="btn-group-vertical">
                          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalAtualizarUsuario">ATUALIZAR</button>
                          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalDeletarUsuario">DELETAR</button>                          
                        </div>
                      </div>
                    </td>
                  </tr>
                  
                </tbody>


    