.log{
    text-align: center;
    padding: 2.6rem 1rem;
}
.logo img{
   width: 270px;
  
}

mat-nav-list{
   background-color: black;
   height: 800px;
  
}

.open-close-container{
   margin-top: 2%;
   margin-left: 5%;
   border-radius: 30px;
   opacity: 100%;
}

input[type="checkbox"]:checked ~ .open-close-container{
   margin-left: 5%;       
 }  
 .col-md-2{
     padding: 10px;
 }
