

<body class="text-center-home">

<div class="d-flex">
    <div class="check-menu">
      <input type="checkbox" id="chec"  class="checkmenu">        
        <label for="chec"><mat-icon (click)="toggle()">menu</mat-icon></label>
        <nav class="menu-lateral">
        <ul class="list-unstyled">
         <!-------------- <li><a class="pagina-selecionada" >DASHBOARD</a></li>----------->
          <li><a class="dropdown-item" (click)="acessarInicio()">
            INICIO
            </a></li>
          
          <!--------------
          <a class="pagina-selecionada" href="paginaAdminClientes.php">CLIENTES</a>----------->
  
          <li class="cliente-nav dropdown"> 
              
                <a class="dropdown-toggle" href="#" id="navbarDropdownCliente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                LANÇAMENTOS
                </a>     
              <ul class="menu-cliente dropdown-menu" style="background: red;" aria-labelledby="navbarDropdownCliente">
                <!-----------<li><a class="dropdown-item" href="#">AREA DO CLIENTE</a></li>------->
                <li><a class="dropdown-item" (click)="efetuarLancamentoEntrada()">LANÇAR ENTRADA</a></li>
                <li><a class="dropdown-item"(click)="efetuarLancamentoSaida()">LANÇAR SAÍDA</a>                                
                </li>
                <!----------- <li><a class="dropdown-item" href="#">EDITAR</a></li>  ------>             
              </ul>
            </li>
      
          <li><a ></a></li>
          <li><a >CONTAS</a></li>
          <li><a >CONSULTAR</a></li>
        </ul>
      </nav>
    </div>
  <!------------ *ngIf="clickEfetuarLancamento == true" -->
  