<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/imagens/65ab872f-fa8e-4b2b-bdd4-376c93f02752_uploads_destacklogo.png" alt>
        </div>
<mat-divider></mat-divider>
<h2 matSubheader class="mt-2">MENU</h2>


<a mat-list-item routerLink="/clientes" routerLinkActive="list-item-active"><mat-icon>mood</mat-icon>Clientes
</a>
<a mat-list-item routerLink="/clientes" routerLinkActive="list-item-active"><mat-icon>work</mat-icon>Fornecedores
</a>
<a mat-list-item routerLink="/clientes" routerLinkActive="list-item-active"><mat-icon>leaderboard</mat-icon>Gráficos
</a>
</mat-nav-list>