<div class="logo py-4" *ngIf="verificaUserLogado == false">
  <img src="../../assets/imagens/65ab872f-fa8e-4b2b-bdd4-376c93f02752_uploads_destacklogo.png" alt="Company Logo" width="200" />

<h2 matSubheader class="mt-2">APPLICATIONS</h2>
<mat-nav-list *ngIf="verificaUserLogado == false">

  <a mat-list-item routerLinkActive="list-item-active" style="text-align: start;" routerLink="/home" value="Home">
    INICIO<mat-icon >home</mat-icon>
    
    </a>
  

<a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
  DASHBOARD<mat-icon>dashboard</mat-icon> 
</a>
<a mat-list-item routerLink="/lancar-entrada"routerLinkActive="list-item-active" >ENTRADA <mat-icon>trending_up</mat-icon>  </a>
<a mat-list-item routerLink="/lancar-saida" routerLinkActive="list-item-active">SAIDA <mat-icon>trending_down</mat-icon>  </a>
<a mat-list-item routerLinkActive="list-item-active">HISTÓRICO <mat-icon>source</mat-icon> </a>
</mat-nav-list>
</div>