/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background: linear-gradient(90deg,  #323232, #01637f, #666666);}

.form-signin {
    background: white;
    
    padding: 5px;
    border-radius: 50px;
    width: 500px;    
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;    
  }

  @media (max-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    body {
      padding: 10px;
       
    }    
    .nav-item {
      color: black !important;
    }

    .menu-lateral{
      margin-left: -250px;
    }
  }

  .menu-lateral {
    margin-top: -25px;
    min-width: 200px;
    max-width: 200px;
    min-height: calc(100vh - 55px);
    background: black;
    transition: all 1.5s;
    z-index: 1; 
  }
  .menu-lateral ul li a {
    display: block;
    color: blanchedalmond;
    padding: 15px;
    text-decoration: none;
    transition: all 1.5s;
  }
  
  .menu-lateral ul li a:hover {
    color: #ecedee;
    background: #354358;
    padding: 20px;
    border-radius: 2px;    
    cursor: pointer;

  }

  .menu-lancamento{
    margin-top: -25px;
    min-width: 200px;
    max-width: 200px;
    min-height: calc(100vh - 55px);   
    transition: all 1.5s;
    z-index: 1;
  }

  .menu-lancamento ul li a {
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
    transition: all 1.5s;
  }
  .menu-lancamento  ul li a:hover {
    color: #ecedee;
    background: #354358;
    padding: 20px;
    border-radius: 2px;    
    cursor: pointer;

  }

  .titulo h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-left: 100%;
  }
  input[type="checkbox"] {
    display: none;
    position: absolute;
  }

  input[type="checkbox"]:checked ~ nav.menu-lateral{
    transform: translateX(-350px);
  }


  .mat-icon{
    font-size: 50px;
    color: white;    
    margin-top: -5px;
    z-index: 1;
    margin-top: -20px;
    margin-left: 200px;
    position: absolute;
    transition: all 1.5s;
   
  }

  label{
    transition: all 1.5s;
    opacity: 15%;
  }
  input[type="checkbox"]:checked ~ label{
    transform: translateX(-200px);
    opacity: 100%;     
  }

  .teste{
    margin-left: 20px;
    width: 400px;
    height: 400px;
   
    background: red !important;
  }

  label.pgnAdmin{   
    opacity: 100%;
  }

  input[type="checkbox"]:checked ~ section div .teste{
    transform: translateX(-150px);
       
  }
  .labelformlancer{
    color: black !important;
  }