<h3 class="text-center"> EFETUAR LANÇAMENTO<h3><div>  

<div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      
      </div>
    </div>
    <div class="flex-item">
      <table class="table table-responsive table-condensed">
      
      </table>
      <button mat-button mat-raised-button color="primary" >Randomize</button>
      <button mat-button mat-raised-button color="primary" >Push</button>
      <button mat-button mat-raised-button color="primary" >Recolor</button>
      <button mat-button mat-raised-button color="primary" >Toggle Series B</button>
      <button mat-button mat-raised-button color="primary" >Change Label</button>
    </div>
  </div>